ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0424", ATTR{idProduct}=="9e00", ATTR{manufacturer}=="Technica Engineering", ATTR{product}=="BroadR-Reach Dongle", RUN+="/bin/sh -c '/sbin/modprobe technicabr; echo -n $kernel:1.0 >/sys/bus/usb/drivers/smsc95xx/unbind;echo -n $kernel:1.0 >/sys/bus/usb/drivers/technicabr/bind'"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0424", ATTR{idProduct}=="9e00", ATTR{manufacturer}=="TechnicaE", ATTR{product}=="USBtoBR", RUN+="/bin/sh -c '/sbin/modprobe technicabr; echo -n $kernel:1.0 >/sys/bus/usb/drivers/smsc95xx/unbind;echo -n $kernel:1.0 >/sys/bus/usb/drivers/technicabr/bind'"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0424", ATTR{idProduct}=="9e00", ATTR{manufacturer}=="Technica Engineering", ATTR{product}=="USB_100Base-T1_Converter", RUN+="/bin/sh -c '/sbin/modprobe technicabr; echo -n $kernel:1.0 >/sys/bus/usb/drivers/smsc95xx/unbind;echo -n $kernel:1.0 >/sys/bus/usb/drivers/technicabr/bind'"
